body {
    text-align: center;
    color: #000;
    background-color: rgb(97, 87, 233);
    font-family: sans-serif;    
    font-size: 25px;
}

.quadrado {
    text-align: center;
    width: 50px;
    background: rgb(61, 28, 180);
    display: inline-block;
    padding: 40px;
    font-size: 60px;
    margin: 5px;
    cursor: pointer;
    color: rgb(61, 28, 180);
    border: 2px solid #000;
}

.jogador,
.vencedor {
    font-size: 30px;
    margin-top: 10px;    
}

button {
    margin-top: 10px;
    width: 100px;
    height: 40px;
    background: rgb(84, 74, 230);
    cursor: pointer;    
}
